@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --primary-text-color: #757575;
  --big-header-color: #ffffff;
  --small-header-color: #212121;
  --logo-color: #000000;
  --accent-color: #2196f3;
  --footer-bg-color: #2f303a;
  --team-bg-color: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--big-header-color);
  /*Don't forget change it after lesson 7*/
  color: var(--primary-text-color);
  font-family: Roboto, Sans-serif;
  letter-spacing: 0.03em;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  padding-inline-start: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: var(--small-header-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 50px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container, .hero__wrap {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container, .hero__wrap {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container, .hero__wrap {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container, .hero__wrap {
    max-width: 1200px;
  }
}

/*
@media screen and (min-width: 768px) {
  . {
    
  }
}

@media screen and (min-width: 1200px) {
  . {
    
  }
}
*/
.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.header__container {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 21px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

/*burger button for menu*/
.header__button {
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
}

@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
}

.header__button__icon:hover, .header__button__icon:focus, .header__button__icon:active {
  fill: var(--accent-color);
}

.header__menu {
  background-color: var(--big-header-color);
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  padding: 48px 40px;
  height: 100%;
}

.header__menu__item {
  display: block;
}

.header__menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.header__menu__link {
  display: block;
  text-decoration: none;
  font-family: Roboto, Sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--small-header-color);
}

.header__menu__link:visited {
  color: var(--small-header-color);
}

.header__menu__link_current {
  color: var(--accent-color);
}

.header__menu__link_current:visited {
  color: var(--accent-color);
}

.header__menu__list {
  margin-bottom: 302px;
}

.header__menu__contacts {
  margin-bottom: 64px;
}

.menu__contacts__list:not(:last-child) {
  margin-bottom: 32px;
}

.menu__contacts__phone {
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.menu__contacts__mail {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.header__menu__sotials {
  display: flex;
  flex-direction: row;
}

.header__menu__sotials__item {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  padding-right: 10px;
}

.header__menu__sotials__item:not(:last-child) {
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu-close {
  padding: 0px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 25px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 3;
}

.menu-close:hover, .menu-close:focus, .menu-close:active {
  fill: var(--accent-color);
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo_blue {
  color: var(--accent-color);
}

.logo_black {
  color: var(--logo-color);
}

.logo_white {
  color: var(--big-header-color);
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
    padding-top: 8px;
  }
  .navigation__list {
    position: relative;
  }
  .navigation__list:not(:last-child) {
    margin-right: 50px;
  }
  .navigation__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--small-header-color);
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation__item:hover, .navigation__item:focus {
    color: var(--accent-color);
  }
  .navigation__item_current {
    color: var(--accent-color);
  }
  .navigation__item_current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    position: absolute;
    bottom: -35px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation__item_current::after {
    bottom: -32px;
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
  }
  .contacts__list:not(:last-child) {
    margin-bottom: 10px;
  }
  .contacts__link {
    display: flex;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;
  }
  .contacts__link:hover, .contacts__link:focus {
    color: var(--accent-color);
    outline: none;
  }
  .contacts__link:hover .contacts__icon, .contacts__link:focus .contacts__icon {
    fill: var(--accent-color);
    outline: none;
  }
  .header__contacts {
    margin-left: 84px;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__icon {
    fill: var(--primary-text-color);
    margin-right: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    align-items: center;
    padding-top: 0;
  }
  .header__contacts {
    margin-left: 305px;
  }
  .contacts__link {
    font-size: 14px;
    line-height: 1.1;
  }
  .contacts__list:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.hero {
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  max-width: 100%;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mob-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet-1x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desktop-1x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desktop-2x.jpg);
  }
}

.hero_centering {
  margin: 0 auto;
}

.hero__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__header {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--big-header-color);
  width: 360px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero__header {
    font-size: 44px;
    line-height: 1.36;
    flex-wrap: wrap;
    width: 696px;
  }
}

.hero__button {
  min-height: 50px;
  min-width: 200px;
  padding: 10px 32px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--big-header-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  border: 0px solid;
}

.benefits-lists {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .benefits-lists {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-lists {
    margin-right: -30px;
  }
}

.benefits-item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .benefits-item {
    width: 354px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-item {
    flex-basis: calc(100% / 4 - 30px);
    margin-right: 30px;
  }
}

.benefits-icon-container {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--team-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .benefits-icon-container {
    width: 270px;
    height: 120px;
    left: 215px;
    top: 774px;
  }
}

.benefits-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--small-header-color);
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .benefits-title {
    text-align: start;
  }
}

.benefits-descriptions {
  font-size: 14px;
  line-height: 1.7;
}

.example {
  display: none;
}

@media screen and (min-width: 1200px) {
  .example {
    display: block;
    padding-bottom: 94px;
  }
  .example-lists {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
  .example-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
    position: relative;
  }
  .example-dscrptn {
    display: block;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--big-header-color);
    position: absolute;
    bottom: 0;
    padding-top: 27px;
  }
}

.team-bg {
  background-color: var(--team-bg-color);
}

.team {
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
  }
}

.team-lists {
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .team-lists {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-lists {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    padding-bottom: 94px;
  }
}

.team-item {
  background-color: var(--big-header-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-item {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
  }
  .team-item:nth-last-child(-n+2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    flex-basis: calc(100% / 4 - 30px);
    margin-bottom: 0px;
  }
}

.team-description {
  padding: 30px 10px 24px 10px;
}

@media screen and (min-width: 1200px) {
  .team-description {
    padding: 30px 10px;
  }
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--small-header-color);
  margin-bottom: 10px;
}

.team-profession {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.social-icons-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-icons-list li:not(:last-child) {
  margin-right: 10px;
}

.social-icons-link {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link:hover, .social-icons-link:focus {
  background-color: var(--accent-color);
  outline: none;
}

.social-icons-link:hover .social-icons,
.social-icons-link:hover .social-icons, .social-icons-link:focus .social-icons,
.social-icons-link:focus .social-icons {
  fill: var(--big-header-color);
  outline: none;
}

.social-icons {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -30px;
}

.client-item {
  flex-basis: calc(100% / 2 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .client-item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .client-item {
    flex-basis: calc(100% / 6 - 30px);
    margin-bottom: 0;
  }
}

.client-icons-link {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icons-link:hover, .client-icons-link:focus, .client-icons-link:active {
  border-color: var(--accent-color);
  outline: none;
}

.client-icons-link:hover .client-icons,
.client-icons-link:hover .client-icons, .client-icons-link:focus .client-icons,
.client-icons-link:focus .client-icons, .client-icons-link:active .client-icons,
.client-icons-link:active .client-icons {
  fill: var(--accent-color);
  outline: none;
}

@media screen and (min-width: 768px) {
  .client-icons-link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .client-icons-link {
    width: 170px;
  }
}

.client-icons {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-lists {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -8px;
}

@media screen and (min-width: 768px) {
  .filters-lists {
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .filters-lists {
    margin-bottom: 50px;
  }
}

.filters-item:not(:last-child) {
  margin-right: 8px;
}

.filters-item {
  margin-left: 0;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .filter-item:first-child {
    margin-bottom: 0px;
  }
}

.filters {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--small-header-color);
  background-color: var(--team-bg-color);
  cursor: pointer;
  min-height: 38px;
  min-width: 73px;
  padding: 6px 22px;
  border: 0px solid;
  border-radius: 4px;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters:hover, .filters:focus, .filters:active {
  color: var(--big-header-color);
  background-color: var(--accent-color);
  outline: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.sample__link {
  text-decoration: none;
  transition-property: border, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sample__link:hover, .sample__link:focus {
  display: block;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}

.sample {
  margin-bottom: -30px;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .sample {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .sample {
    justify-content: center;
  }
}

.sample__item {
  position: relative;
  margin-bottom: 30px;
}

.sample__item:hover .sample__overlay {
  display: inline-block;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--big-header-color);
  position: absolute;
  bottom: 0;
}

@media screen and (min-width: 768px) {
  .sample__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
  .sample__item:hover .sample__overlay {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .sample__item {
    width: calc(100% / 3 - 30px);
  }
  .sample__item:hover .sample__overlay {
    padding: 63px 24px;
  }
}

.sample__caption {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

@media screen and (min-width: 768px) {
  .sample__caption {
    flex-grow: 1;
  }
}

.sample__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--small-header-color);
  text-decoration: none;
  margin-bottom: 4px;
}

.sample__descriptions {
  font-size: 16px;
  line-height: 1.8;
  color: var(--primary-text-color);
  text-decoration: none;
  margin: 0;
}

.sample__overlay_hide {
  position: relative;
  overflow: hidden;
}

.sample__overlay {
  position: absolute;
  bottom: -100%;
  background-color: rgba(0, 0, 0, 0);
  transition-property: bottom;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-bg {
  background-color: var(--footer-bg-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer .container, .footer .hero__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container, .footer .hero__wrap {
    flex-wrap: nowrap;
  }
}

.footer-adress-container {
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-adress-container {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-adress-container {
    margin-bottom: 0;
    margin-right: 70px;
    text-align: left;
  }
}

.footer-adress {
  font-size: 14px;
  line-height: 1.7;
  color: var(--big-header-color);
  font-style: normal;
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .footer-adress {
    text-align: left;
    margin-bottom: 9px;
  }
}

.footer-contacts {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.7;
  color: var(--footer-text-color);
  font-style: normal;
  text-decoration: none;
}

.footer-list {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-list {
    text-align: left;
  }
}

.footer-list:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .footer-list:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-socials {
  display: flex;
  flex-direction: column;
}

.footer-socials:not(:last-child) {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-socials {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-socials:not(:last-child) {
    margin-bottom: 0;
    margin-right: 93px;
  }
}

.footer-call {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--big-header-color);
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-call {
    text-align: left;
    padding-top: 12px;
  }
}

.footer-social-icons-list {
  display: flex;
  justify-content: center;
}

.footer-social-icons-list li:not(:last-child) {
  margin-right: 10px;
}

.footer-social-icons-link {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icons-link:hover, .footer-social-icons-link:focus, .footer-social-icons-link:active {
  background-color: var(--accent-color);
  outline: none;
}

.footer-social-icons {
  fill: var(--big-header-color);
}

.maling-wrap {
  position: relative;
  height: 120px;
}

@media screen and (min-width: 768px) {
  .maling-wrap {
    height: 116px;
  }
}

@media screen and (min-width: 1200px) {
  .maling-wrap {
    display: flex;
    height: auto;
  }
}

.footer-input {
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin: 0 auto;
  margin-bottom: 20px;
  padding-left: 16px;
}

@media screen and (max-width: 479px) {
  .footer-input {
    width: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.footer-btn {
  align-items: center;
  width: 200px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--big-header-color);
  border-width: 0px;
  border-style: none;
  text-align: left;
  padding-left: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  right: calc(50%);
  transform: translateX(50%);
  bottom: 0px;
}

@media screen and (min-width: 1200px) {
  .footer-btn {
    position: static;
    transform: none;
  }
}

.mailing-icon {
  position: absolute;
  top: 13px;
  right: 28px;
}

@keyframes jumpAnim {
  0% {
    transform: translate(0px, 0px);
  }
  15% {
    transform: translate(-30px, -25px);
  }
  30% {
    transform: translate(-70px, -60px);
  }
  45% {
    transform: translate(-100px, -100px);
  }
  60% {
    transform: translate(-140px, -130px);
  }
  75% {
    transform: translate(-180px, -170px);
  }
  100% {
    transform: translate(-220px, -220px);
  }
}

/*Так, це жахлива анімація модального вікна, що повільно і зі срипом виповзає*/
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
}

.modal-window {
  width: calc(100% - 30px);
  padding: 40px 20px;
  position: absolute;
  background-color: var(--big-header-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .modal-window {
    padding: 40px;
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .modal-window {
    height: 609px;
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-window {
    animation-name: jumpAnim;
    animation-duration: 3000ms;
    animation-iteration-count: 1;
    width: 528px;
    height: 581px;
    display: flex;
    flex-direction: column;
    padding: 40px;
  }
}

.close-btn {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  position: absolute;
  right: 8px;
  top: 8px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .close-btn-icon, .close-btn:focus .close-btn-icon {
  fill: var(--accent-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--small-header-color);
  margin-bottom: 12px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 35px;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.form-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.input-wrap {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field {
  margin-bottom: 20px;
  position: relative;
}

.checkbox-field {
  margin-bottom: 30px;
}

.modal-input:focus + .form-icon {
  fill: var(--accent-color);
}

.modal-text {
  width: 100%;
  height: 120px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.input-wrap {
  display: block;
  position: relative;
}

.check-text {
  font-size: 12px;
  display: flex;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}

@media screen and (min-width: 1200px) {
  .check-text {
    font-size: 14px;
    line-height: 1.2;
  }
}

.check-link {
  color: var(--accent-color);
}

.chekbox-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  position: relative;
  margin-left: 0;
  margin-right: 7px;
}

@media screen and (min-width: 1200px) {
  .chekbox-wrap {
    margin-left: 13px;
    margin-right: 7px;
  }
}

.input-icon-checkbox {
  fill: var(--small-header-color);
  position: absolute;
  top: 0;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon-check {
  position: absolute;
  fill: var(--big-header-color);
  border-radius: 2px;
}

.input-check:checked + .input-icon-checkbox {
  fill: var(--accent-color);
  background-color: var(--accent-color);
}

.input-check:focus + .input-icon-checkbox {
  fill: var(--accent-color);
}

.input-check:checked + .input-icon-check {
  fill: var(--big-header-color);
}

.submit-button {
  font-family: Roboto;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--big-header-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*# sourceMappingURL=main.css.map */