/*
primary text color #757575
big header color and main bg #FFFFFF
small headers color #212121
accent color #2196F3
main bg color #FFFFFF
footer and main header bd color #2F303A
team bg color #F5F4FA
footer text color rgba(255, 255, 255, 0.6)
*/

/*Common stiles*/

/*:hover,
:focus - for animated element {
transition-property: ***;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}*/



/*header*/
/*main section*/
/*benefits*/


/*What we doing and team members*/


/*Clients*/


/* portfolio page */




/*footer*/



/*Modal window fow button Заказать услугу*/

