.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.header__container {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  // padding-top: 24px;
  // padding-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .header__container {
  padding-top: 21px;
  padding-bottom: 20px;
}
}

@media screen and (min-width: 1200px) {
  .header__container {
  padding-top: 24px;
  padding-bottom: 25px;
}
}


/*burger button for menu*/

.header__button {
background-color: transparent;
position: absolute;
top: 10px;
right: 10px;
border: none;
}

@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }

}

.header__button__icon {
  &:hover,
  &:focus,
  &:active {
    fill: var(--accent-color);
  }
}

.header__menu{
  background-color: var(--big-header-color);
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  padding: 48px 40px;
  height: 100%;
  
}

.header__menu__item{
  display: block;
  &:not(:last-child){
    margin-bottom: 32px;
  }
}

.header__menu__link{
  display: block;
  text-decoration: none;
  font-family: Roboto, Sans-serif;
font-weight: 500;
font-size: 40px;
line-height: 1.17;
letter-spacing: 0.02em;
color: var(--small-header-color);
&:visited{
 color: var(--small-header-color);
}
}

.header__menu__link_current {
color: var(--accent-color);
&:visited{
color: var(--accent-color);
}}

.header__menu__list {
  margin-bottom: 302px;
}

.header__menu__contacts {
  margin-bottom: 64px;
}

.menu__contacts__list {
  &:not(:last-child){
    margin-bottom: 32px;
  }
}

.menu__contacts__phone {
  text-decoration: none;
  font-weight: 500;
font-size: 34px;
line-height: 1.17;
letter-spacing: 0.02em;
color: var(--accent-color);

}

.menu__contacts__mail {
text-decoration: none;
font-weight: 500;
font-size: 24px;
line-height: 1.16;
letter-spacing: 0.02em;
color: var(--primary-text-color)
}

.header__menu__sotials {
  display: flex;
  flex-direction: row;
   
}

.header__menu__sotials__item {
  color: var(--accent-color);
   font-weight: 500;
font-size: 18px;
line-height: 1.22;
letter-spacing: 0.02em;
padding-right: 10px;

&:not(:last-child) {
  margin-right: 10px;
 border-right: 1px solid rgba(33, 33, 33, 0.2);}

}

.menu-close {
  padding: 0px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 25px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 3;
&:hover, &:focus, &:active {
  fill: var(--accent-color);
}}



