.filters-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
.filters-item:not(:last-child) {
  margin-right: 8px;
}

.filters {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--small-header-color);
  background-color: var(--team-bg-color);
  cursor: pointer;
  min-height: 38px;
  min-width: 73px;
  padding: 6px 22px;
  border: 0px solid;
  border-radius: 4px;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover, &:focus {
  color: var(--big-header-color);
  background-color: var(--accent-color);
  outline: none;
}

}
