.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.logo_blue {
  color: var(--accent-color);
}

.logo_black {
  color: var(--logo-color);
}

.logo_white {
  color: var(--big-header-color);
}

.header__logo {
  margin-right: 93px;
}