.sample__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--small-header-color);
  text-decoration: none;
  margin-bottom: 4px;
}
.sample__descriptions {
  font-size: 16px;
  line-height: 1.8;
  color: var(--primary-text-color);
  text-decoration: none;
  margin: 0;
}

.sample__link {
  text-decoration: none;
  transition-property: border, box-shadow;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
  display: block;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
    outline:none; 
}}

.sample {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.sample__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
  &:hover {.sample__overlay{
  display: inline-block;
  background-color: rgba(33, 150, 243, 0.9);
width: 100%;
height: 100%;
  padding: 63px 24px;
  font-weight: 400;
font-size: 18px;
line-height: 1.56;
letter-spacing: 0.03em;
color: var(--big-header-color);
position: absolute;
bottom: 0;
}
}
}

.sample__caption {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.sample__overlay_hide {
position: relative;
overflow: hidden;
}

.sample__overlay{
  position: absolute;
  bottom: -100%;
  background-color: rgba(0, 0, 0, 0);
  transition-property: bottom;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

