:root {
  --primary-text-color: #757575;
  --big-header-color: #ffffff;
  --small-header-color: #212121;
  --logo-color: #000000;
  --accent-color: #2196f3;
  --footer-bg-color: #2f303a;
  --team-bg-color: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
}